<h1>Editing booking type</h1>

<%= render "form", booking_type: @booking_type %>

<br>

<div>
  <%= link_to "Show this booking type", @booking_type %> |
  <%= link_to "Back to booking types", booking_types_path %>
</div>
