<p style="color: green"><%= notice %></p>

<h1 class="text-primary-2-option my-2">Bookings</h1>


<div class="container">
    <div class="row">
      <% @bookings.each do |booking| %>
        <%= render booking %>
      <% end %>
    </div>
</div>

<%= link_to "New booking", new_booking_path %>

