<p>
  <h5>To login as provider use email: provider@mail.com and password: 123456</h5>
  <h5>To login as client use email: client@mail.com and password: 123456</h5>
  <h5>or even better, you can just <%= link_to 'sign up!', new_user_registration_path %></h5>
<br>

</p>
