<section class="page-section bg-muted" id="services">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Servicios</h2>
      <h3 class="section-subheading text-muted">Proveemos una variedad de servicios respaldados por años de experiencia en el rubro</h3>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <%= image_tag 'welcome/services-1.jpg', style: 'height:100%; width:auto;', class: 'rounded' %>
                        </span>
        <h4 class="my-3">Monotributo</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <%= image_tag 'welcome/services-2.jpg', style: 'height:100%; width:auto;', class: 'rounded' %>
                        </span>
        <h4 class="my-3">Liquidación de sueldos</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <%= image_tag 'welcome/services-3.jpg', style: 'height:100%; width:auto;', class: 'rounded' %>
                        </span>
        <h4 class="my-3">Responsables inscriptos</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
    </div>
  </div>
</section>
